/* parte flip*/
.card-flip {
  width: 100%;
  perspective: 1000px;
  margin-bottom: 20px;
  position: relative;
}

.card-flip-inner {
  position: relative;
  width: 100%;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.card-flip:hover .card-flip-inner {
  transform: rotateY(180deg);
}

.card-flip-front {
  position: relative;
  width: 100%;
  backface-visibility: hidden;
}

.card-flip-front img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}

.card-flip-back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background: #ee7606;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  text-align: center;
}
